name: Playwright Tests + Allure Report + Email

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run Playwright tests
        run: npx playwright test --reporter=line

      - name: Generate Allure Results
        run: |
          npx allure generate ./allure-results --clean -o ./allure-report
        continue-on-error: true

      - name: Zip Allure Report
        run: |
          zip -r allure-report.zip allure-report

      - name: Send Email with Allure Report
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.EMAIL_USER }}
          password: ${{ secrets.EMAIL_PASS }}
          subject: "Playwright Test Execution Report"
          body: "Hi Akash, please find attached the latest Playwright Allure Test Report."
          to: ${{ secrets.EMAIL_TO }}
          from: ${{ secrets.EMAIL_USER }}
          attachments: allure-report.zip
